html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 20px;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}